@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDE9E3;
    color: #241F19; 
  
    margin: 0;
    padding: 0;
      font-family: "Playfair Display", serif;
}


.btn {
    background-color: #221d11;
    color:#FFFFFF; 
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: #3b3118;
    color: #EDE9E3;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.my-navbar {
    background-color:#e2ddd1;
    color: black;
}


.navbar-toggler {
      background-color: #A4AC86;
      border: 1px solid #414833;
}

.navbar-toggler:hover {
      background-color: #e2ddd1;
}

.navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23414833' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.collapse ul li a{
    color: black;
    text-decoration: none;
}
.collapse ul li a:hover{
    color:#241F19;
    font-size: 20px;
    cursor: pointer;
}
.container-fluid a{
    color: black;
    text-decoration: none;
}
.container-fluid a:hover{
    color: #EDE9E3;
    font-size: 20px;
    cursor: pointer;
}
.dos{
    display: flex;
    justify-content: end;
}
.inicio{
   color: #FFFFFF;
    padding: 20px;
   background-color: #241F19;
     
}
.nombre{
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
}

.lema{
    font-family: "Playfair Display", serif;
    color: #EDE9E3;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.lema h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.lema p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.btn-2{
    text-transform: uppercase;
    background-color:#e2ddd1;
    color:#221d11; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
    
}
.btn-2:hover{
    background-color: #A4AC86;
    color: #EDE9E3;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}


.portada{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), /* Overlay negro al 70% de opacidad */
        url('img/interior-de-un-aeropuerto-con-ventanas.jpg') center/150% no-repeat ;
    height: 100vh; /* Asegura que cubra toda la pantalla */
    color: #FFFFFF;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px ;
    padding: 40px;
}

.formulario{
    background-color: rgba(255, 252, 252, 0.5);
    color: #241F19;
    margin: 50px;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    
}
.formulario form div{
    margin: 10px;
}
.titu {
    display: flex;
    justify-content: flex-start;
    position: relative; /* Necesario para el pseudo-elemento */
    padding-bottom: 5px; /* Espacio para la línea */
}

.titu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%; /* Ancho completo (cambia a 50% para línea corta) */
    height: 3px; /* Grosor de la línea */
    background: linear-gradient(to right, #241F19, #ccc); /* Ejemplo: gradiente */
}
.btn-1{
    width: 95%;
     background-color: #221d11;
    color:#FFFFFF; 
   padding: 2px;
    border: none;
    border-radius: 4px;
}
.btn-1:hover{
    background-color: #3b3118;
    color: #EDE9E3;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.reseñas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-family: "Playfair Display", serif;
}
.reseñas p{
    font-size: 20px;
    font-weight: 600;
}
.reseñas h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.reseñas h3::after {
    content: "";
    display: block;
    width: 100px; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
     background: linear-gradient(to right, #241F19, #ccc); /* Color de la línea */
    margin: 10px auto; /* Centrado horizontal */
}

.cards {
    display: flex;
    margin: 30px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
}
.card{
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.perfil {
    display: flex;
    align-items: center;
   
}

.perfil  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.proyectos{
    background-color: #241F19;
    color: #FFFFFF;
    padding: 20px;
  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
      overflow: hidden;
}
.carrusel{
     width: 100vw;
    margin-left: calc(-50vw + 50%);  /* Ajusta según tu diseño */
     overflow: hidden;
    
}
.carousel-item{
      width: 100%;
    height: 80vh;  /* Oculta partes de la imagen que sobresalgan */
}
.carousel-item img {
  width: 100%;
    height: 100%;
    object-fit: cover; /* Evita que la imagen se deforme */
    object-position: center; /* Centra la imagen */
    filter: brightness(0.6); /* Aplica un filtro de brillo */
}
.text{
    
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  

}

.text h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.text p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.text i::after {
    content: "";
    display: block;
    width: 50px; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background: linear-gradient(to right, #241F19, #ccc); /* Color de la línea */
    margin: 10px auto; /* Centrado horizontal */
}
.text i {
    font-size: 30px;
    color: #241F19;
    margin-bottom: 10px;
}
iframe{
    width: 90%;
    height: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: 20px;
}



footer{
    background-color: #221d11;
    color: white;
}
.legal{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.redes a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

.redes a:hover{
    font-size: 30px;
    color: #EDE9E3;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.1));
}

.politicas a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    
}

.politicas a:hover{
    color: #EDE9E3;
    cursor: pointer;
 
    text-decoration: underline;
}
.politicas ul li{
    list-style: none;
    margin: 5px;
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
.portada{
 height: auto; /* Permite que crezca si el contenido lo necesita */
    min-height: 100vh; /* Asegura que al menos cubra toda la pantalla */
    background-position: center top;
    background-size: cover;
}

.texto{
   
    margin: 10px ;
    padding: 20px;
}
.formulario{
    margin: 20px;
    width: 90%;


}

.collapse ul li i{
  display: none;
}
.nombre{
    font-size: 15px;
}

.lema h1{
    font-size: 36px;    
}
.lema p{
    font-size: 16px;
}
.collapse ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #A4AC86;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;

}
.collapse ul li a:active{
    background-color: #A4AC86;
    color: #EDE9E3;
}
}