@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDE9E3;
    color: #241F19; 
  
    margin: 0;
    padding: 0;
      font-family: "Playfair Display", serif;
}


.btn{
    background-color: #221d11;
    color:#FFFFFF; 
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: #3b3118;
    color: #EDE9E3;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.my-navbar {
    background-color: #221d11;
    color: #FFFFFF;
}
.collapse ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
.collapse ul li a:hover{
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}
.container-fluid a{
    color: #FFFFFF;
    text-decoration: none;
}
.dos{
    display: flex;
    justify-content: end;
}
.portada{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), /* Overlay negro al 70% de opacidad */
        url('img/interior-de-un-aeropuerto-con-ventanas.jpg') center/150% no-repeat ;
    height: 100vh; /* Asegura que cubra toda la pantalla */
    color: #FFFFFF;
    height: 500px;
}
.texto{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px ;
    padding: 40px;
}

.formulario{
    background-color: rgba(255, 252, 252, 0.5);
    color: #241F19;
    margin: 50px;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
}
.formulario form div{
    margin: 10px;
}
.titu {
    display: flex;
    justify-content: flex-start;
    position: relative; /* Necesario para el pseudo-elemento */
    padding-bottom: 5px; /* Espacio para la línea */
}

.titu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%; /* Ancho completo (cambia a 50% para línea corta) */
    height: 3px; /* Grosor de la línea */
    background: linear-gradient(to right, #241F19, #ccc); /* Ejemplo: gradiente */
}
.btn-1{
    width: 95%;
     background-color: #221d11;
    color:#FFFFFF; 
   padding: 2px;
    border: none;
    border-radius: 4px;
}
.btn-1:hover{
    background-color: #3b3118;
    color: #EDE9E3;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.reseñas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-family: "Playfair Display", serif;
}
.reseñas p{
    font-size: 20px;
    font-weight: 600;
}
.reseñas h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.reseñas h3::after {
    content: "";
    display: block;
    width: 100px; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
     background: linear-gradient(to right, #241F19, #ccc); /* Color de la línea */
    margin: 10px auto; /* Centrado horizontal */
}

.cards {
    display: flex;
    margin: 30px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
}
.card{
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.perfil {
    display: flex;
    align-items: center;
   
}

.perfil  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer{
    background-color: #221d11;
    color: white;
}
.legal{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.redes a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

.redes a:hover{
    font-size: 30px;
    color: #EDE9E3;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.1));
}

.politicas a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    
}

.politicas a:hover{
    color: #EDE9E3;
    cursor: pointer;
 
    text-decoration: underline;
}
.politicas ul li{
    list-style: none;
    margin: 5px;
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 14px;
}